.signup-container {
    background-image: url('../Assets/Images/bgPic.webp');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    
  }  